<?xml version="1.0"?>
<!--
/**
 * Copyright 2016 EyeQue. All rights reserved.
 * Yuan Xiong
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <preference for="EyeQue\SocialAccessToken\Api\SocialAccessTokenInterface"
                type="EyeQue\SocialAccessToken\Model\SAValidate"/>
    <preference for="EyeQue\SocialAccessToken\Api\SocialAccountInterface"
                type="EyeQue\SocialAccessToken\Model\SAManagement"/>
    <preference for="\Magento\Integration\Model\CustomerTokenService" 
                type="EyeQue\SocialAccessToken\Model\CustomerTokenService"/>

</config>
